{% extends "base.html" %}

{% block title %}Link Creator{% endblock %}

{% block content %}
<div class="container">
    <div class="creator">
        <p class="sans">전부 입력하고 생성을 누르세요. 링크가 <span class="blink">짜잔</span> 나타납니다.</p>
        <form class="ga-form">
            <input name="id" placeholder="UA-XXXX-YY">
            <input name="host" placeholder="your.domain.com">
            <input name="path" placeholder="/page/path">
            <button>생성</button>
        </form>
        <p id="link" class="link sans"></p>
    </div>
</div>
{% endblock %}