<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/static/icon.ico">
    <link rel="icon" href="/static/icon.png">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+KR|Noto+Sans+KR">
    {% block stylesheet %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    {% block script %}{% endblock %}
</body>

</html>