{% extends "base.html" %}

{% block title %}Comment{% endblock %}

{% block stylesheet %}
<style>
    body {
        background: #fff;
    }
    .comment-form > form {
        display: grid;
        margin-bottom: 15px;
        grid-template-columns: 100px auto 80px;
    }
    .comment-form > form input {
        padding: 8px;
        border: none;
        font-size: 16px;
        border-bottom: 1px solid #000;
        background-color: rgba(0, 0, 0, 0);
    }
    .comment-form > form input:focus {
        outline: none;
    }
    .comment {
        padding: 15px;
        margin-bottom: 15px;
        background: #fff;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
    }
    .nickname {
        font-weight: bold;
    }
    .date {
        color: #aaa;
        font-size: 12px;
    }
    ::-webkit-scrollbar {
        width: 3px;        
    }
    ::-webkit-scrollbar-thumb {
        background-color: #aaa;
    }
    .copy {
        width: 100%;
        color: #aaa;
    }
    .copy a {
        color: #ccc;
    }
    .full-mask {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
    }
    .full-mask.light {
        background-color: rgba(255, 255, 255, 0.95);
        backdrop-filter: blur(0px);
    }
    .loading {
        z-index: 9999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    .m-center {
        margin: 47vh auto;
    }
</style>
{% endblock %}

{% block content %}
<div style="padding: 15px;">
    <div class="comment-form noto">
        <form method="POST" id="comment">
            <input type="text" name="nickname" placeholder="닉네임" autocomplete="off" required>
            <input type="text" name="content" placeholder="댓글을 입력하세요" autocomplete="off" required>
            <input type="submit">
        </form>
    </div>
    <div class="comment-list">
        {% for comment in comments %}
        <div class="comment">
            <p><span class="nickname serif">{{ comment.nickname }}</span> <span class="date">{{ comment.created[:16] }}</span></p>
            <p class="sans">{{ comment.content }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="copy">
        Light Comment by <a href="https://notion.doum.app">Notion Doumi</a>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    document.querySelector('#comment').addEventListener('submit', function() {
        document.body.insertAdjacentHTML("afterbegin", `
            <div class="loading">
                <div class="full-mask light">
                    <div class="m-center dot-bricks"></div>
                </div>
            </div>
        `);
    });

    if(self !== top) {
        
    } else {
        // location.href = "https://www.notion.so/{{ pk }}";
    }
</script>
{% endblock %}