{% extends "base.html" %}

{% block title %}Link Creator{% endblock %}

{% block stylesheet %}
<style>
    body {
        background-color: #fff;
    }
    .creator {
        padding-top: 5vh;
        text-align: center;
    }
    .ga-form {
        padding: 30px 0;
        width: 400px;
        max-width: 100%;
        margin: 0 auto;
    }

    .ga-form input,
    .ga-form button {
        margin-bottom: 1rem;
        border: none;
        background-color: #eee;
        border-radius: 15px;
        width: 100%;
        text-align: center;
        padding: 15px 0;
    }

    .ga-form input:focus {
        outline: none;
    }

    .ga-form button {
        color: #fff;
        background-color: #000;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="creator">
        <p class="sans">전부 입력하고 생성을 누르세요. 링크가 <span class="blink">짜잔</span> 나타납니다.</p>
        <form class="ga-form">
            <input name="id" placeholder="UA-XXXX-YY">
            <input name="host" placeholder="your.domain.com">
            <input name="path" placeholder="/page/path">
            이미지 숨기기 <input name="hide" type="checkbox">
            <button>생성</button>
        </form>
        <p id="link" class="link sans"></p>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/main.js"></script>
{% endblock %}